<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <article class="algemeen">
    <!-- <img src="http://denetimservices.com/wp-content/uploads/2013/05/Help-for-Old-people.png" alt="" style="height:auto;width:307px;padding:0;"> -->
    <picture class="fixed-ratio"
    style="padding-bottom:65.4911839%;">
    <!-- multiple <source>s here -->
    <img alt=""
          src="http://denetimservices.com/wp-content/uploads/2013/05/Help-for-Old-people.png"
          class="fixed-ratio-content">
</picture>
    <h2>Over OBA Maatje</h2>
    <p>Om Amsterdammers met elkaar te verbinden, is de OBA gestart met OBA Maatje. Een OBA Maatje is een enthousiaste vrijwilliger die met boeken, films of luisterboeken één keer per maand een bezoek brengt aan mensen die niet zo mobiel zijn. Dit kunnen ouderen zijn, maar ook jongeren die vanwege een handicap of chronische ziekte minder mobiel zijn.</p>
  </article>

  <article class="algemeen">
    <picture class="fixed-ratio fixed-ratio-16by9">
      <img
        alt=""
        data-src="https://i.dailymail.co.uk/i/pix/2013/07/03/article-2355212-1AA67955000005DC-841_634x424.jpg"
        class="fixed-ratio-content lazy"
      />
    </picture>
    <!-- <img src="https://i.dailymail.co.uk/i/pix/2013/07/03/article-2355212-1AA67955000005DC-841_634x424.jpg" alt=""> -->
    <h2>Ik wil een OBA Maatje bij mij thuis</h2>
    <p>Heeft u behoefte aan meer contact met anderen? Zou u het fijn vinden om bezoek te krijgen van een vrijwilliger die boeken, films of luisterboeken meebrengt? Misschien is het project OBA Maatje iets voor u. Een OBA Maatje is een enthousiaste vrijwilliger die met boeken, films of luisterboeken van de OBA één keer per maand bij u op bezoek komt. U ontvangt een passende selectie materialen aan huis bezorgd en een gezellig moment met een vrijwilliger. </p>
    <form action="aanmelden.html">
      <input type="submit" value="Aanmelden OBA maatje" />
  </form>
  </article>

  <article class="algemeen">
    <img src="" alt="">
    <h2>Ik wil OBA Maatje worden</h2>
    <p>*Op dit moment zijn er voldoende OBA Maatjes. Zodra er weer behoefte aan vrijwilligers is, staat dat op deze pagina.</p>
    <form action="http://google.com">
      <input type="submit" value="OBA maatje worden" disabled />
  </form>
  </article>

  <% include ../partials/lazyload %>
  <% include ../partials/footer %>
</body>

</html>
